@layer reset, base, tokens, recipes, utilities;

@layer base {
  * {
    font-family: 'Pretendard', 'sans-serif';
  }

  html {
    background-color: var(--colors-gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    background-color: var(--colors-white);
    width: 100%;
    min-width: 320px;
    max-width: 480px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
